<div class="artwork" data-artwork-id="<%= artwork.id %>">
  <%= link_to artwork do %>
    <%= image_tag artwork.image %>
  <% end %>

  <div>
    <%= link_to artwork.user.username, artwork.user %>
  </div>
</div>