body {
  height: 100vh;
}

#container {
  display: flex;
  height: 100vh;

  background-size: cover;

  &:not(.no-margin) {
    margin: 1em;
  }
}

#header {
  padding: 8px 0;
  margin-bottom: 16px;
  
  .header-inner {
    margin: 0 10px;
    padding: 0 1em;

    box-shadow: 0  4px $primary-color,
                0  8px $body-color,
                0 12px $primary-color;
  }
}

.breadcrumbs {
  display: flex;

  div {
    color: $grey-color;
    padding: 0 0.33em;
    font-weight: bold;
    
    a {
      font-weight: normal;
      color: white;
    }
  }

  svg, i {
    height: 1.5em;
  }
}

#sidebar {
  flex: 0 0 20%;
  max-width: 150px;

  &.sidebar-on-artwork {
    max-width: unset;
    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $body-color;
    box-shadow:  4px 0 $primary-color,
                 8px 0 $body-color,
                12px 0 $primary-color;
  }
}

#main {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}