#header {
  padding: 8px 0;
  margin-bottom: 16px;
  
  .header-inner {
    margin: 0 10px;
    padding: 0 1em;

    box-shadow: 0  4px $primary-color,
                0  8px $body-color,
                0 12px $primary-color;
  }
}

.breadcrumbs {
  display: flex;

  div {
    color: $grey-color;
    padding: 0 0.33em;
    font-weight: bold;
    
    a {
      font-weight: normal;
      color: white;
    }
  }

  svg, i {
    height: 1.5em;
  }
}

#sidebar {
  flex: 0 0 20%;
  max-width: 150px;

  &.sidebar-on-artwork {
    max-width: unset;
    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $body-color;
  }
}

#sidebar-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  
  top: 0;
  left: 0;

  body:not(.sidebar-static):not(.sidebar-open) & {
    pointer-events: none;
  }

  body:not(.sidebar-static).sidebar-open & {
    background-color: rgba($body-color, 50%);
  }
  
  #sidebar {
    body:not(.sidebar-open):not(.sidebar-static) & {
      width: 0 !important;
    }
    
    overflow: hidden;

    height: 100%;
    width: 400px;
    max-width: 100%;

    transition: 0.25s ease-in;
    
    background-color: $body-color;
    box-shadow:  4px 0 $primary-color,
                 8px 0 $body-color,
                12px 0 $primary-color;

    #sidebar-content {
      height: 100%;
      width:400px;
      max-width: 100vw;

      box-sizing: border-box;
      padding: 1em;

      body.sidebar-v-center & {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

#main {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;

  body:not(.no-main-margin) & {
    margin: 1em;
  }

  &.main-on-artwork {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-top: 1em;
    padding-right: 1em;
  }
}