.site-logo {
  font-weight: bold;
  
  text-transform: uppercase;
  font-family: $branding-font;

  &, & > svg {
    color: $primary-color;
  }
  
  svg {
    margin-bottom: 3px;

    &:last-child {
      margin-right: 0.25em;
    }
  }

  &:not(.informal) {
    font-size: 2em;
  }
}