.site-logo {
  display: block;
  text-align: center;

  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;

  color: $primary-color;
  
  span {
    padding: 0 10px;
    box-shadow: 0 4px $primary-color,
                0 8px $body-color,
                0 12px $primary-color;
  }
}